{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}

<div class="max-w-lg mx-auto">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="w-full text-white bg-green-500 hover:bg-green-600 px-3 py-2 rounded-md">Login</button><br>
    </form>
    <div class="py-5 border-t border-gray-200 mt-5">
        <a class="hover:text-blue-500 mt-5" href="{% url 'reset-password' %}">Forgot Password</a></button>
        <span class="hover:text-blue-500 px-5"><a href="{% url 'signup' %}">Don't have an Account?</a></span>   
    </div>
</div>


{% endblock content %}
